<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>JavaWebApp</display-name>
  <welcome-file-list>
    <welcome-file>Homepage.jsp</welcome-file>
    <welcome-file>OptionsPage.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>OptionsServlet</display-name>
    <servlet-name>OptionsServlet</servlet-name>
    <servlet-class>zoho1.OptionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OptionsServlet</servlet-name>
    <url-pattern>/OptionsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckInServlet</display-name>
    <servlet-name>CheckInServlet</servlet-name>
    <servlet-class>zoho1.CheckInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckInServlet</servlet-name>
    <url-pattern>/Check-IN</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckOutServlet</display-name>
    <servlet-name>CheckOutServlet</servlet-name>
    <servlet-class>zoho1.CheckOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOutServlet</servlet-name>
    <url-pattern>/Check-OUT</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindMyVehicleServlet</display-name>
    <servlet-name>FindMyVehicleServlet</servlet-name>
    <servlet-class>zoho1.FindMyVehicleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindMyVehicleServlet</servlet-name>
    <url-pattern>/Find-My-Vehicle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowLotsServlet</display-name>
    <servlet-name>ShowLotsServlet</servlet-name>
    <servlet-class>zoho1.ShowLotsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowLotsServlet</servlet-name>
    <url-pattern>/Show-Lots</url-pattern>
  </servlet-mapping>
</web-app>